<!-- users/profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header>
        {% include "nav2.html" %}
    </header>
{% endblock %}

{% block content %}
    <div class="container">        
        <div class="row">
            <div class="col-md-4">
                <div class="media mt-4">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile Image">
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form.as_p }}
                        {{ p_form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-success" type="submit">Update</button>
                    </div>
                </form>
                
                <h2 class="mt-5">Your favorite recipes</h2>
                {% if favorite_recipes %}
                    {% for recipe in favorite_recipes %}
                        <div class="recipe">
                            <div class="recipe__left">
                                <img src="{{ recipe.img }}" alt="" width="150">
                            </div>

                            <div class="recipe__right">
                                <h3>{{ recipe.title }}</h3>
                                <a href = "{{ recipe.video }}" class="recipe__favorite-video">Watch video guide</a>
                                <form action="{% url 'remove_favorite' %}" method="POST" class="recipe__favorite">
                                    {% csrf_token %}
                                    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                                    <button class="btn btn-outline-danger" type="submit">Remove from Favorites</button>
                                </form>
                            </div>
                            
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No favorite recipes found.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
