{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header>
    {% include "nav2.html" %} 
    </header>
{% endblock %}

{% block content %}
<div class="container">
<form method="POST" novalidate id="signForm">
	{% csrf_token %}
	<h2>Sign in</h2>
	{% for field in form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag }} {{ field }}
	</p>
	{% endfor %}
	<input type="submit" value="Register" /><br>
    <p>Already has an account? <a href="{%url 'login' %}">Login</a></p>
</form>
</div>
{% endblock content%}
